.button {
    -fx-border-width: 1;
    -fx-border-color: #DD8D60;
    -fx-border-radius: 30;
    -fx-background-radius: 30;

}

.button:hover{
    -fx-background-color: #98FB98;
}

.button:pressed{
    -fx-background-color: #98FB98;
}

.pane{
    -fx-border-width: 6;
    -fx-border-radius: 20;
    -fx-background-radius: 30;

}

.table{
    -fx-border-width: 6;
    -fx-border-color: #AFEEEE;
    -fx-background-color: #E0FFFF;
}

.column.table-cell{
    -fx-background-color: linear-gradient(white, silver);
    -fx-alignment: center;
}

.column.table-cell:hover{
    -fx-background-color: linear-gradient(white, Teal);
}

.column.table-cell:focused{
    -fx-background-color: linear-gradient(white, Teal);
}

.column.table-cell .text{
    -fx-fill: black;
    -fx-font-family: Inria serif;
    /*-fx-font-weight: Bold;*/
    -fx-font-size: 14;
}

.column.column-header{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, azure, #5F9EA0);
    -fx-border-color: #AFEEEE;
}

.exception-header{
    -fx-background-color: linear-gradient(to bottom, azure, #5F9EA0);
        -fx-border-color: #48D1CC;
}

.exception{
    -fx-background-color: #AFEEEE;
    -fx-border-width: 2;
    -fx-border-color: black;
}

.text-field{
    -fx-alignment: center;
    -fx-background-color:  #7FFFD4;
    -fx-background-radius: 7;
}

.text-field:hover{
    -fx-background-color:  #E0FFFF;
}

.text-field:pressed{
    -fx-background-color:  #E0FFFF;
}

.choice-box1{
    -fx-background-color: #7FFFD4;
}

.choice-box1 .context-menu{
    -fx-background-color: #7FFFD4;
}

.choice-box1 .context-menu .menu-item:hover{
    -fx-background-color: #E0FFFF;
}

.choice-box1 .context-menu .menu-item:focused{
    -fx-background-color: #E0FFFF;
}

.choice-box .text{
    -fx-fill: black;
    -fx-font-family: Inria serif;
    /*-fx-font-weight: Bold;*/
    -fx-font-size: 14;
}

.choice-box2{
    -fx-border-width: 2;
    -fx-border-color: #228B22;
    -fx-border-radius: 10;
    -fx-background-radius: 15;

}

.choice-box2 .context-menu{

    -fx-background-radius: 7;
}

/*.choice-box2 .context-menu .menu-item:hover{
    -fx-background-color: #98FB98;
}

.choice-box2 .context-menu .menu-item:focused{
    -fx-background-color: #98FB98;
}*/
